---
layout: main
---

<div class="jumbotron">
    <h1>EpiInf</h1>
    <div class="titlebuttons">
        <a class="btn btn-primary btn-lg btn-responsive"
           href="doc/">
            Documentation
        </a>
        <a class="btn btn-primary btn-lg btn-responsive"
           href="{{site.github.repository_url}}">
            Source Code
        </a>
    </div>
</div>

<p class="lead"> EpiInf is a
<a href="http://www.beast2.org/">BEAST 2</a> package for performing exact
inference of stochastic compartmental epidemiological model parameters
using particle filtering to compute the prior probability density of a
tree.  Joint inference of prevalence trajectories is also
performed.</p>


<hr class="short-rule">

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">

      <h2>Installation</h2>

      <p>To install EpiInf, follow these steps:</p>
      <ol>
        <li>Install the most recent version of <a href="http://www.beast2.org/">BEAST 2</a>.</li>
        <li>Open the BEAUti programme.</li>
        <li> Select "Manage Packages" from the "File" menu.</li>
        <li> EpiInf should be in the list of packages.  Select this and then click Install/Upgrade.</li>
        <li> Once the successful installation is reported, close the package manager and <strong>RESTART BEAUti</strong>.</li>
      </ol>

      <h2>Documentation</h2>

      <p>The documentation for EpiInf can be found <a href="doc/">here</a>.
        The algorithm implemented by EpiInf is described in <a href="https://www.biorxiv.org/content/early/2018/11/19/142570">this preprint</a>.</p>

        <h1>
          <a id="license" class="anchor" href="#license" aria-hidden="true"><span class="octicon octicon-link"></span></a>License</h1>

      <p>This package is distributed under version 3 of the GNU General Public License.</p>

    </div>

    <div class="hidden-xs hidden-sm col-md-3">
      <div id="sidebar">
        <h3>Recent Releases</h3>

        <ul>
            {% for release in site.github.releases %}
            {% if forloop.index <= 5 %}
            <li> <a href="{{release.html_url}}"><span class="version">{{release.tag_name}}</span></a>
              <span class="date">({{release.published_at | date: "%b %-d, %Y"}})</span><br>
              <span class="title">{{release.name}}</span>
              <div class="desc">
                {{release.body | truncatewords: 20}}
              </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
</div>

